// Flex rows/cols
.row-flex,
.row-flex-condensed {
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(stretch);
}

.row-flex {
  margin-left:  -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;

  > .col-flex {
    padding-left:  $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.row-flex-condensed {
  margin-left:  -$grid-gutter-width / 4;
  margin-right: -$grid-gutter-width / 4;

  > .col-flex {
    padding-left:  $grid-gutter-width / 4;
    padding-right: $grid-gutter-width / 4;
  }
}